{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>

</style>

<div>
 <h3>N'hésitez pas à nous contacter pour prendre rendez-vous pour un shooting photo !</h3>
</div>
{% endblock %}
